# Server
PORT=3001

# PostgreSQL (Pi 5)
PGHOST=pi5.local
PGPORT=5432
PGUSER=postgres
PGPASSWORD=your_postgres_password_here
PGDATABASE=degree_graph

# Scraper
SCRAPER_YEAR=2026
SCRAPER_BASE_URL=https://www.waikato.ac.nz
